@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Poppins:wght@400;600;700&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");
:root {
    --primary-color: #895BDD;
    --secondary-color: #F6F6F6;
    --background-color: #fff;
    --second-bg-color: rgba(57, 199, 250,0.1);
    --text-color: #000;
    --blue-text: #304D76;
    --gray-text-color: #637381;
    --white-text: #fff;
}
html {
    font-size: 100%;
    width: 100vw;
    overflow-x: hidden !important;
}
body {
    font-family: "Poppins", sans-serif;
}
h2 {
    font-size: 45px;
    font-weight: 700;
}
#root {
    max-width: 2100px;
    margin: 0 auto;
}
.mt-6 {
    margin-top: 100px;
}
.primary-span {
    color: var(--primary-color);
}
.container-custom {
    width: 90%;
    margin: 0 auto;
}
header {
    height: 75px;
    display: flex;
    align-items: flex-end;
}
.header-container {
    width: 90%;
    height: 85%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    font-family: inherit;
    font-size: 500;
}
.header-container img {
    width: 200px;
}
.header-container a {
    color: var(--blue-text);
}
.button {
    padding: 0.5rem 3rem;
    border-radius: 68px;
}
ul.navbar-nav {
    align-items: center;
}
.navbar {
    width: 56%;
    justify-content: flex-end;
}
.navbar-nav {
    width: 100%;
    justify-content: space-evenly;
}
.navbar > a {
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #304D76;
}
.navbar li.active > a {
    border-bottom: 3px solid var(--primary-color);
}
.navbar li.active:hover {
    border-bottom: none;
}
.nav-list-item:hover {
    border-bottom: 3px solid var(--primary-color);
}

.header-container .cta > button {
    color: var(--primary-color);
    border-color: var(--primary-color);
    margin-left: 10px;
    background-color: transparent;
    transition: .5s ease;
    font-weight: 700;
    border: 2px solid var(--primary-color);
}
.header-container .cta > button:hover {
    background-color: var(--primary-color);
    color: var(--white-text);
    border: 2px solid var(--primary-color);
}
.hero-section {
    background: url("../images/hero\ background.jpg") 0px 0px no-repeat;
    background-attachment: cover;
}
.hero-section p {
    color: var(--gray-text-color);
}
.button-primary {
    background-color: var(--primary-color);
    color: var(--white-text);
    border: none;
    width: 250px;
    height: 65px;
    transition: .5s ease;
}
.button-primary:hover {
    background-color: #ad87f3;
}
.hero-section img {
    width: 100%;
}
.hero-social-media > a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 3.5rem;
    height: 3.5rem;
    background: transparent;
    border: 2px solid var(--primary-color);
    border-radius: 50%;
    font-size: 1.5rem;
    color: var(--primary-color);
    margin: 3rem 1.5rem 3rem 0;
    text-decoration: none;
    transition: .5s ease;
}
.hero-social-media > a:hover {
    box-shadow: 0 0 1rem var(--primary-color);
    background: var(--primary-color);
    color: var(--white-text);
}
.seo-section-section {
    display: flex;
    justify-content: center;
}
.section-two--image {
    padding-left: 0px;
}
.section-two--details {
    margin-right: 10%;
}
.service-section--title {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 0px 70px 0px;
}
.service-section--title > h6 {
    font-size: 18px;
    font-weight: 600;
} 

.service-section--title > h2 {
    font-size: 45px;
    font-weight: 600;
    letter-spacing: -1px;
}
.service-section--title > p {
    color: var(--gray-text-color);
    margin: 20px 0px;
}
.service-card--container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(380px, 1fr));
    grid-template-columns: -webkit-repeat(auto-fit, minmax(380px, 1fr));
    grid-column-gap: 30px;
}
.service-card--image {
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 9;
}
.service-card--image > img {
    width: 120px;
}
.service-card--title > h2 {
    font-weight: 600;
}
.service-card--paragraph {
    margin: 10px 0px;
    font-weight: 400;
    line-height: 30px;
    font-family: "Lato", "Poppins", sans-serif;
    font-size: 19px;
}
.service-card--body {
    height: 400px;
    border-radius: 20px;
    padding: 75px 30px;
    display: flex;
    flex-direction: column;
    transform: translateY(-50px);
    box-shadow: 0 0 1rem rgba(0,0,0,0.07);
}
.seo-section {
    display: flex;
    justify-content: space-between;
    height: 750px;
}
.container-custom-seo {
    width: 80%;
    margin: 0 auto;
}
.seo-importance {
    width: 55%; 
    height: 100%;
    background-color: var(--second-bg-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
   
}
.seo-importance h2 {
    font-weight: 700;
    font-size: 40px;
    margin-top: 75px;
    margin-bottom: 40px;
}
.seo-importance p b {
    font-weight: 700;
}
.seo-importance p {
    font-size: 18px;
    letter-spacing: 0.03em;
    line-height: 25px;
    font-weight: 400;
    margin: 30px 0px;
    color: rgba(0,0,0,0.7);
}
.seo-contact {
    width: 45%;
    height: 100%;
    background-color: rgba(137, 91, 221,0.1);
    display: flex;
    align-items: center;
    justify-content: center;
}
.seo-contact--form {
    width: 100%;
    padding: 10%;
    margin: 0 auto;
    background-color: var(--background-color);
    box-shadow: 0px 0px 46px rgba(0, 0, 0, 0.07);
    border-radius: 20px;
}
.seo-contact--paragraph {
    margin: 30px 0px;
}
.contact-input {
    width: 100%;
    height: 55px;
    left: 885px;
    top: 3134px;
    background: #F4F4F4;
    border-radius: 130px;
    margin-bottom: 25px;
    font-size: 15px;
    padding:  5px 20px;
    color: #242021;
}
.contact-input::placeholder {
    color: #242021;
}
.contact-submit {
    border-radius: 33px;
    width: 100%;
    height: 55px;
    font-weight: 600;
}

.progress-card--container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-template-columns: -webkit-repeat(auto-fit, minmax(250px, 1fr));
    grid-column-gap: 30px;
}
.progress-card--image {
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 9;
}
.progress-card--image > img {
    width: 90px;
}
.progress-card--image-color {
    height: 100%;
    width: 90px;
    position: absolute;
    background: #3958FA;
    mix-blend-mode: hue;
}
.progress-card--title > h2 {
    font-weight: 600;
    font-size: 17px;
}
.progress-card--paragraph {
    margin: 10px 0px;
    font-weight: 400;
    line-height: 20px;
    font-family: "Lato", "Poppins", sans-serif;
    font-size: 14px;
}
.progress-card--body {
    height: 220px;
    border-radius: 20px;
    padding: 40px 30px;
    display: flex;
    flex-direction: column;
    transform: translateY(-25px);
    background: rgba(57, 199, 250,0.1)
}
.packages--payment {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 60px;
}
.gray-text {
    color: #637381;
}
.package-arrow {
    width: 80%;
    display: flex;
    justify-content: flex-end;
}
.yearly-toggle {
    position: relative;
    width: 74px;
    height: 40px;
    -webkit-appearance: none;
    appearance: none;
    background: rgba(4, 9, 33, 0.32);
    outline: none;
    border-radius: 2rem;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
}
.yearly-toggle::before {
    content: "";
    width: 33px;
    height: 33px;
    border-radius: 50%;
    background: var(--background-color);
    position: absolute;
    left: 3px;
    transition: 0.5s;
  }
  .yearly-toggle:checked::before {
    transform: translateX(100%);
    background: var(--background-color);
  }
  .yearly-toggle:checked {
    background: var(--primary-color);
  }


  /* pricing table */
  
.pricing-container {
    display: grid;
    width: 100%;
    grid-template-columns: -webkit-repeat(auto-fit, minmax(300px, 1fr));
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    margin: 0 auto;
    margin-top: 5.8rem;
    margin-bottom: 5.8rem;
    gap: 42px;
  }
  
  .pricing {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    border-radius: 10px;
    padding: 2.1rem 2rem;
    box-shadow: 0px 4.18919px 55.14px rgba(0, 0, 0, 0.05);
    
  }

  .package-description {
    font-size: 17px !important;
    color: #64748B;

  }

  .per-month {
    font-size: 17px !important;
  }
  
  .container-2 {
    background: var(--primary-color);
    color: var(--white-text);
    margin-top: -1.6rem;
    margin-bottom: -1.6rem;
  }
 
  .container-1,
  .container-3 {
    background-color: var(--white);
    gap: 1.3rem;
  }
  
  .pricing h2 {
    font-size: 1.23rem;
    font-weight: 700;
  }
  .container-2 h2 {
    padding-top: 12px;
  }
  
  .container-1 h2,
  .container-1 li,
  .container-3 h2,
  .container-3 li {
    color: #000;
  }
  .pricing p {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 13px;
    margin: 0 auto;
    font-size: 58px;
    font-weight: 600;
    color: #191D23 !important;
    width: 100%;
  }
  
  .container-2 p {
    margin-top: -11px;
  }
  
  .pricing ul {
    list-style: none;
    margin-top: 0px;
    margin-bottom: 0px;
    width: 100%;
    padding-left: 0px;
  }
  
  .pricing ul li {
    padding: 5px 0px;
  }
  
  .checkboxed-ul li::before {
    content: "\2713";
    height: 33px;
    width: 33px;
    display: inline-flex;
    background-color: #F2EBFF;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-right: 15px;
    font-size: 16px;
    color: var(--primary-color);
  }

  .crossed-ul li {
    color: #A0ABBB;
    ;
  }

  .crossed-ul li::before {
    content: "\2716";
    height: 33px;
    width: 33px;
    display: inline-flex;
    background-color: #F7F8F9;;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-right: 15px;
    font-size: 16px;
  }
  
  .pricing button {

    width: 100%;
    height: 56.08px;
    font-weight: 700;
    font-size: 20px;
    transition: .5s ease;
    border: 2px solid var(--primary-color);
    border-radius: 46.0811px;
  }
  
  .container-2 button {
    color: var(--primary-color);
    background-color: var(--background-color);
  }
  .container-1 button,
  .container-3 button {
    color: var(--primary-color);
    background: var(--background-color);
    background-repeat: no-repeat;
  }
  

.container-1 button:hover,
.container-3 button:hover {
    background: var(--primary-color);
    border-color: var(--primary-color);
    color: var(--white-text);
    border-width: 2px;
}
.container-2 button:hover {
    background-color: transparent;
    border-color: var(--white-text);
    color: var(--white-text);
    border-width: 2px;
}
  
  .container-2 span,  .container-2 h2,  .container-2 p {
    color: var(--white-text) !important;
  }
  .our-clients {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
  }
  .our-clients--body {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-columns: -webkit-repeat(3, 1fr);
    margin-top: 100px;
    width: 100%;
  }
  .testimonial {
    text-align: center;
    color: #2D2E2E;
  }
.testimonial-body {
    padding: 10%;
    padding-bottom: 15%;
    background-color: #F7F7F7;
    border-radius: 8px;
}
.testimonial-primary {
    background-color: var(--primary-color);
    transform: scale(1.05) translateY(-20px);
    color: var(--white-text) !important;
}

.testimonial-icon {
    font-size: 30px;
    color: #2D2E2E;
}
.testimonial-body .description {
    font-size: 14px;
    color: #2D2E2E;
    line-height: 20px;
    font-weight: 400;
}
.testimonial-content {
    transform: translateY(-45px);
}

.testimonial-primary > .testimonial-icon, 
.testimonial-primary > .description {
    color: var(--white-text);
}
.testimonial-primary-content {
    transform: translateY(calc(-45px - 20px));
}
.testimonial-content .title {
    font-size: 16px;
    line-height: 20px;
    font-weight: 600;
    color: #2D2E2E;
    margin-top: 10px;
}
.addson-container {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-template-columns: -webkit-repeat(auto-fit, minmax(320px, 1fr));
    margin: 0 auto;
    margin-top: 5.8rem;
    margin-bottom: 5.8rem;
    gap: 42px;
    justify-content: space-evenly;
}
.quote-section {
    background: url("../images/hero\ background.jpg") 0px 0px no-repeat;
    background-attachment: cover;
    height: 700px;
    display: flex;
    align-items: center;
}
.quote-section-body {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.quote-contact {
    width: 40%;
}
.quote-contact {
    background: var(--background-color);
    box-shadow: 0px 0px 26px rgba(0, 0, 0, 0.07);
    border-radius: 20px;
}
.quote-contact--form {
    width: 100%;
    padding: 10%;
}
.contact-input-2 {
    width: 100%;
    height: 55px;
    background: #F3F3F3;
    border-radius: 73.7446px;
    margin-bottom: 25px;
    font-weight: 500;
    font-size: 21.6679px;
    line-height: 33px;
    padding: 5px 20px;
    color: rgba(0,0,0,0.3);
}
.quote-contact--form > form {
    margin-top: 50px;
}

.footer-body {
    display: flex;
    height: 420px;
    align-items: center;
    justify-content: space-between;
}
.footer-body--information {
    width: 40%;
}
.footer-body--logo {
    margin: 30px 0px;
}
.footer-body-paragraph > p {
    font-weight: 400;
    font-size: 14.3894px;
    line-height: 20px;
    text-transform: capitalize;
    color: rgba(0,0,0,0.5);
}
.footer-body--links {
    width: 45%;
    display: flex;
    gap: 40px;
}
.footer-body--get-in-touch, .footer-body--quick-links {
    width: 50%;
    padding: 0px 10px;
}
.footer-body--get-in-touch a {
    color: #000;
    text-decoration: none;
}
.footer-nav {
    align-items: flex-start !important;
}
.footer-nav > li {
    padding: 5px 0px;
}
.footer-nav > li > a{
    text-decoration: none;
    color: #000;
}
.footer {
    height: 50px;
    background-color: var(--primary-color);
    color: var(--white-text);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 13px;
    line-height: 20px;
    text-transform: capitalize;
}

footer img {
    width: 50%;
}

.mobile-visible {
    display: none;
}
.no-wrap {
    white-space: nowrap;
}
#scrollToTop {
    border: none;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    font-size: 2rem;
    background-color: var(--primary-color);
    color: var(--white-text);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 10vh;
    right: 5vw;
    transition: .3s ease;
}
#scrollToTop:hover {
    background-color: #7857b5;
}
.scrollToTopVisible {
    transform: translateY(0);

}
.scrollToTophidden {
    transform: translateY(400px);
}
.mobile-logo {
    display: none;
}
.testimonial-content > .pic {
    width: 100%;
}
.testimonial-content .pic img {
    width: 90px;
    height: 90px;
    border-radius: 50%;

}
#dark-div {
    position: absolute;
    top: -15px;
    right: -7vw;
    height: 100vh;
    width: 100vw;
    background: rgba(0, 0, 0, 0.7);
    z-index: 0.9;
}
.display-none {
    display: none;
}
  @media only screen and (max-width: 992px) {
    #scrollToTop {
        display: none;
    }
    ul.navbar-nav {
        align-items: left;
    }
    .navbar-collapse {
        width: 50vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
        position: absolute;
        right: 45vw;
        top: -15px;
        background-color: var(--background-color);
        transition: .5s ease;
        box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.1);
    }
    .show2 {
        transform: translateX(0);
    }
    .hidden {
        transform: translateX(-100vw);
    }
    .custom-mobile-responsive {
        height: 250px;
        align-items: flex-start !important;
        width: 80%;
    }
    .custom-mobile-responsive.contact-button {
        justify-content: flex-start;
    }
    .mobile-logo {
        display: flex;
        width: 80%;
        justify-content: space-between;
        margin: 30px 0px 5px 0px;
    }
    .mobile-logo > a {
        width: 60%;
    }
    .mobile-logo  a  img {
        width: 100%;
    }
    #cross {
        background: #fff;
        color: #000;
        border: none;
        width: 30px;
    }
    #cross > img {
        width: 100%;
    }
    .bd-h {
        display: none !important;
    }
    .seo-section-section > div, .seo-section-section > div > div {
        padding-top: 0px !important;
    }
    .section-two--details h2 {
        text-align: center;
    }
    .section-two--details {
        margin: 0 auto;
    }
    .seo-container--body span {
        font-size: 12px;
    }
    .seo-container--body p {
        margin: 20px 0px;
    }
    .header-container {
        align-items: flex-start;
    }
    .navbar-expand-lg {
        background-color: var(--background-color);
    }
    .quote-section, .hero-section {
        background: none;
    }
    .pricing-container {
      width: 70%;
      grid-template-columns: 1fr;
      margin-top: 5.8rem;
      gap: 5rem;
    }
    .mobile-visible {
        display: block;
        margin-bottom: 70px;
    }
    .mobile-visible > img {
        width: 100%;
    }
    .quote-contact {
        width: 50%;
    }
    .quote--image--container {
        width: 45%;
    }
    .quote--image--container img {
        width: 100%;
    }
    .footer-body {
        margin-bottom: 40px;
    }
    .quote-contact--form > .form-group {
        width: 95%;
    }
    .quote-section {
        height: auto;
    }
}

    @media screen and (max-width: 600px) {
        #scrollToTop {
            display: none;
        }
        #navbar-list {
            align-items: flex-start;
        }
        .button.cta {
            padding: 0px;
            display: inline;
            width: 150px;
            height: 40px;
        }
        .navbar-collapse {
            width: 75vw;
            height: 100vh;
            display: flex;
            flex-direction: column;
            position: absolute;
            right: 20vw;
            top: -15px;
            background-color: var(--background-color);
            transition: .5s ease;
            box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.1);
        }
        .show2 {
            transform: translateX(-5vw);
        }
        .hidden {
            transform: translateX(-100vw);
        }
        .hero-section h2 {
            text-align: left;
            font-size: 1.5rem;
        }
        .mobile-visible {
            display: block;
            margin-bottom: 50px;
        }
        .mobile-visible > img {
            width: 100%;
        }
        .button-primary {
            width: 100%;
        }
        .hero-social-media {
            grid-template-columns: repeat(3, 60px);
            grid-template-columns: -webkit-repeat(3, 60px);
            justify-content: space-around;
        }
        .quote-section {
            height: auto;
        }
        .seo-section {
            height: auto;
        }
        .section-two--details {
            padding-top: 0px !important;
            flex-direction: column-reverse;
        }
        .seo-importance, .seo-contact {
            width: 100%;
        }
        .seo-contact {
            padding: 30px 0px;
        }
        .our-clients--body {
            grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
            grid-template-columns: -webkit-repeat(auto-fit, minmax(350px, 1fr));
        }
        .pricing-container {
            width: 100%;
        }
        .service-card--container {
            grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
            grid-template-columns: -webkit-repeat(auto-fit, minmax(330px, 1fr));
        }
        .quote--image--container img {
            width: 100%;
        }
        .quote-section-body {
            flex-direction: column;
            gap: 45px;
        }
        .quote-contact, .quote--image--container {
            width: 100%;
        }
        footer {
            padding-top: 60px;
        }
        footer .container-custom-seo {
            width: 90%;
        }
        .footer-body {
            flex-direction: column;
            height: auto;
        }
        .footer-body--information, .footer-body--links {
            width: 100%;
        }
        .footer-body--information {
            margin-bottom: 30px;
        }
        .footer-body--get-in-touch {
            overflow-wrap: break-word;
        }
        footer img {
            width: 70%;
        }
    }





